@page "/"
@using Mediator
@using ErrorHandlingFront.Application.Todo.GetTodos

<button onclick="@GetTodos"></button>

@code {
    [Inject]
    public ISender Sender { get; set; }

    private async Task GetTodos()
    {
        var todos = await Sender.Send(new GetTodosRequest());
        foreach (var todo in todos)
        {
            Console.WriteLine(todo.Title);
        }
    }

}